.item-add-form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 5px;
  fontFamily: "Century Gothic";
}

.item-add-form label {
  margin-bottom: 10px;
}

.item-add-form input,
.item-add-form textarea,
.item-add-form select {
  margin-bottom: 20px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

.item-add-form button {
  padding: 10px;
  font-size: 12px;
} 

.item-add-form button.hover {
  background-color: ##7DB5B5;
  font-size: 16px;
}